# macOS system files
.DS_Store
.AppleDouble
.LSOverride
*.xcuserstate

# User-specific files
*.swp
*.lock
*.log
*.orig

# Secrets / API Keys
*.env
*.plist.private
*.key
*.pem

# Ignore temporary files
*.tmp
*.temp

# Large files
.MP4
